@font-face {
    font-family: 'Muller' 'MullerRegular' 'MullerBold' 'MullerMedium';
    src: 
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerLight.woff') format('woff'),
        url('../fonts/MullerLight.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Muller', 'MullerRegular', 'MullerBold', 'MullerMedium';
	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1168px;
	margin: 0 auto;
}

.btn {
	height: 70px;
	padding: 0 10px;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: #fff;
	background-color: #cc9933;
	border: 1px solid #cc9933;
	border-radius: 12px;
}

.reservation-forms-btn {
	width: 159px;
	margin-right: 30px;
}

.title {
	color: #333333;
	font-size: 40px;
	margin-left: 42px;
}

.placement-place-btn {
	height: 41px;
	width: 100px;
	padding: 0 10px;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: #cc9933;
	background-color: #fff;
	border: 1px solid #cc9933;
	border-radius: 12px;
}

.header {
	padding: 30px 0;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-tel {
	color: #666666;
	font-size: 22px;
	font-weight: 400;
}

.header-lk {
	color: #cc9933;
	font-size: 16px;
	font-weight: 200;
}

.nav-container {
	margin-top: 30px;
	display: flex;
	align-items: center;
	height: 70px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 12px;
}

.header-lk {
	margin-left: auto;
}

.header-tel {
	padding-left: 25px;
}

.header-list {
	display: flex;
	align-items: center;
}

.header-list-item {
	margin-left: 48px;
}

.header-search__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 100px;
	width: 355px;
	height: 48px;
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	border-radius: 15px;
}

.header-link {
	color: #858585;
	font-size: 16px;
	line-height: 62px;
}

.header-searsh-input {
	padding-left: 20px;
	border: none;
	background-color: #f1f1f1;
	margin-left: 10px;
	height: 40px;
	width: 300px;
}

.search-img {
	margin-right: 15px;
}

.first-container {
	display: flex;
	justify-content: space-between;  
}

.input {
	width: 518px;
	height: 70px;
	font-size: 16px;
	font-weight: 32px;
	padding-left: 21px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 12px;
}

.spec-offer {
	background-image: url(/img/22.png);
	margin-top: -24px;
	width: 595px;
	height: 540px;
}

.first-heading {
	color: white;
	font-size: 66px;
	line-height: 58px;
	padding-top: 266px;
	padding-left: 40px;
}

.reservation-bottom {
	display: flex;
	align-items: center;
}

.reservation-number-offers {
	color: #cc9933;
	font-size: 16px;
	font-weight: 700;
}

.reservation-number-offers-text {
	color: #999999;
	margin-left: 6px;
}

.spec-offer-more {
	display: flex;
	align-items: center;
	margin-top: -44px;
}

.spec-offer-price {
	font-size: 35px;
	color: #fff;
	padding-left: 40px;
}

.spec-offer-more-details {
	width: 200px;
	background-image: url(/img/arrow_right.svg);
	background-repeat: no-repeat;
	background-position-x: calc(100% - 60px);
	padding-left: 40px;
	color: #ffcc66;
}

/*.about-container {
	width: 1000px;
}*/

.about-text {
	color:#666666;
	line-height: 2.2;
	margin-left: 42px;
}

.services-items {
	display: flex;
	height: 550px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}

.services-item {
	flex: 0 0 49%;
	background-color: white;
	align-content: space-between;
	border: 1px solid #fff;
	border-radius: 12px;
}

.advantage-items {
	display: flex;
	height: 320px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}

.advantage-item {
	flex: 0 0 23.5%;
	background-color: white;
	border: 1px solid #fff;
	border-radius: 12px;
}

.advantage-item-img {
	height: 59px;
	width: auto;
}

.placement-items {
	display: flex;
	height: 1490px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}

.placement-item {
	flex: 0 0 32%;
	background-color: white;
	border: 1px solid #fff;
	border-radius: 12px;
}

/*Работа с карточками:
5.5 Флексбокс — базовая сетка (часть 2)
18-19 минуты
*/
